OPENROUTER_API_KEY=
SERPER_API_KEY=
EXA_API_KEY=
TAVILY_API_KEY=
APIFY_API_TOKEN=

OPENCLAYGENT_PORT=8080
OPENEXTRACT_PORT=8081
EVOMI_USERNAME=
EVOMI_PASSWORD=
EVOMI_GATEWAY=rp.evomi.com:1000
CAPSOLVER_API_KEY=
TWOCAPTCHA_API_KEY=
